$topnav-background-color: 	#f5f5f5;
:host {
    .navbar {
        margin-left: 275px;
        padding-bottom: 32px;
        background-color: $topnav-background-color;
        .navbar-brand {
            color: black;
        }
        .nav-item > a {
            color: black;
            &:hover {
                background: #999;
                color: black;
            }
        }
    }
    .messages {
        width: 100px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
.collapse {
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.form-input {
    margin-left: 20px;
    height: 50px;
    width: 420px;
}
.form-input::-webkit-input-placeholder {
    padding-left: 20px;
}

.languages {
    margin-right: 50px;
}

.setting {
    margin-right: 100px;
}
