<div class="login-page">
    <div class="login-header">
        <div class="container">
            <div class="logo">
                <img src="../../assets/img/logo.png" alt="">
                <div class="line"></div>
                <h1>АДМИНИСТРАТИВНАЯ<br>ПАНЕЛЬ</h1>
            </div>
            <a class='phone' href="tel:+7(961)8144448">
                <img src="../../assets/img/phone-icon.png" alt="">
                <span>+7 (961) 814-44-48</span>
            </a>
        </div>
    </div>
    <div class="login-content w100">
        <div class="login-form">
            <h2>Вход</h2>
                <input class="form-control" type="email"  name='email' [(ngModel)]="mail" required placeholder="Электронная почта" mdbActive>
                <input class="form-control" type="password" name='password' [(ngModel)]="pass" required placeholder="Пароль">
                <div class="flex">
                    <label class='checkbox' for="rememberMe">
                        <input style="display: inline;" type="checkbox" name='rememberMe' id='rememberMe'>
                        <span class='checkbox__text'>Запомнить меня</span>
                    </label>
                    <a (click)="openModal(template1)">Забыли пароль</a>
                </div>
                <button class="v1" (click)="checkForAutheriation()">Войти</button>
        </div>
    </div>
    <div class="login-footer">
        <div class="container">
            <p>© DWExpress</p>
        </div>
    </div>
</div>

<ng-template #template1>
    <div class="modal-header">
        <h2>Востановление пароля</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <input class="form-control" type="email"  name='email' [(ngModel)]="mail" required placeholder="Электронная почта" mdbActive>
        <button class='v1' (click)="closeAndOpen(template2)">Восстановить</button>
    </div>
</ng-template>


<ng-template #template2>
    <div class="modal-header">
        <h2>Востановление пароля</h2>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>На почту <a href="mailto:test@test.com">test@test.com</a> отправлено письмо<br>с инструкцией по восановлению пароля</p>
        <a class='cont' (click)="modalRef.hide()">Продолжить</a>
    </div>
</ng-template>


